<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= title %>
        </h1>
    </div>
    <div class="box">
        <% for(let i=0;i<items.length;++i){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= items[i] %>
                </p>
            </div>
            <% } %>
                <form action="/" method="post">
                    <input type="text" name="item" id="item" placeholder="To Do Item" autocomplete="off">
                    <button type="submit" name="button" value=<%=title%>>+</button>
                </form>
    </div>
    <%- include("footer") -%>